@model   Tuple<PMApi.Models.ValuationSummary, DotNet.Highcharts.Highcharts>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Valuation Intraday Chart";
}



<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.jquery.com/jquery-1.12.1.min.js" integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I=" crossorigin="anonymous"></script>


<body>
    <p>@(Model.Item1.Portfolio.Name) - Intraday Chart</p>
    <div>@(Model.Item2)</div>


    <div>
        Last Change: $@(Model.Item1.IntraDayChangeValuationDetailSummary.Values.Last().ToString());
        Portfolio Value: $@(Model.Item1.ValuationDetailSummary.Values.Last().ToString());
    </div>
</body>

