@model   PMWeb.Models.ValuationViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Valuation Intraday Chart";
}



<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.jquery.com/jquery-1.12.1.min.js" integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I=" crossorigin="anonymous"></script>


<body>
    <p>@(Model.ValuationSummary.Portfolio.Name) - Intraday Chart</p>
    <div>@(Model.Chart)</div>


    <div>
        Percentage Change: @(Model.PercentageChange) % <br />
        Last Change: @(Model.IntradayChange) <br />
        Intraday Low: $@(Model.IntradayLow) <br />
        Intraday High: $@(Model.IntradayHigh) <br />
        Portfolio Value: $@(Model.PortfolioValue)
    </div>
</body>

