<div class="jumbotron">
    <h1>Portfolio Manager Service</h1>
    <p class="lead">Realtime stock valuations</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>See guide for more details</p>
    </div>
    <div class="col-md-4">
        <h2>Functionality</h2>
        <p>More functionality to come</p>
    </div>
    <div class="col-md-4">
        <h2>Access from anywhere</h2>
        <p>Global Access</p>
    </div>
</div>
